.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 58px;
  margin-bottom: 100px;

  @media (max-width: 959px) {
    flex-direction: column;
  }

  &__description {
    max-width: 405px;
    text-align: start;
  }

  &__text {
    font-size: 13px;
    line-height: 1.8;
    color: #48555B;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
}
