.blockLinks {
  max-width: 266px;

  .title {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .links {
    display: grid;
    grid-template-columns: 105px 70px 85px;
    gap: 40px;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.85px;
    text-transform: uppercase;

    .linksUl {
      margin: 10px 0 0 0;

      .link a {
        color: #fff;
      }
    }
  }
}
