.blockLinks {
  min-width: 325px;

  .title {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.85px;
    text-transform: uppercase;

    .linksUl {
      margin: 10px 0 0 0;

      .link a {
        color: #fff;
      }
    }
  }
}
