.connect {
  display: flex;
  align-items: start;
  min-height: 420px;
  padding-top: 60px;
  text-align: center;
  background-image: url("image/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  &__text {
    font-size: 30px;
    line-height: 36px;
    font-weight: 800;
    margin: 0 0 35px;
  }
}
