.connectBlock {
  min-height: 457px;
  text-align: center;
  background-image: url("image/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  .innerBlock {
    margin: 0 auto;
    max-width: 350px;

    .text {
      font-size: 30px;
      line-height: 36px;
      font-weight: 800;
      margin: 120px 0 35px;
    }
  }
}
