.menu {
  min-width: 260px;

  &__title {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.85px;
    text-transform: uppercase;
  }

  &__list {
    margin: 10px 0 0 0;
  }

  &__link {
    cursor: pointer;
    color: #fff;

    &:hover {
      opacity: 0.8;
    }
  }
}
