.registration {
  background: #171819;

  &__form {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__text {
    font-weight: 700;
    color: #fff;
    line-height: 26px;
    letter-spacing: 0.8px;
    padding-right: 70px;

    @media (max-width: 767px) {
      padding-right: 0;
      padding-bottom: 15px;
    }
  }

  &__field {
    display: flex;
    justify-content: space-between;
  }

  &__email {
    border: 1px solid #737373;
    border-right: none;
    color: #48555B;
    padding: 11px 0 11px 16px;
    min-width: 260px;
    outline: none;

    @media (max-width: 767px) {
      min-width: 150px;
    }
  }
}