.card {
  min-width: 295px;
  padding: 20px;
  text-align: start;
  border: 1px solid #E6E6E6;
  overflow: auto;

  &:not(:last-child) {
    margin-right: 15px;

    @media (max-width: 959px) {
      margin-right: 0;
      margin-bottom: 15px;
      height: auto;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 13px;
  }

  &__text {
    font-size: 13px;
    line-height: 1.7;
  }
}