.description {

  .innerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 58px;
    @media (max-width: 992px) {
      flex-direction: column;
    }

    .textBlock {
      max-width: 405px;
      text-align: start;
      letter-spacing: 0;
      line-height: 24px;
      color: #48555B;
      @media (max-width: 992px) {
        margin: 0 0 15px 0;
      }

      .textBlock_title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        margin: 0 0 30px 0;
        @media (max-width: 992px) {
          margin: 0 0 20px 0;
        }
      }

      .text {
        font-size: 13px;
      }
    }

    .imagesBlock {

      .innerImage {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        //
        //&:not(:last-child) {
        //  margin: 0 20px 0 0;
        //}

        .text {
          padding: 15px 0 0 15px;
          max-width: 68px;
          color: white;
          font-size: 24px;
          font-weight: 800;
          line-height: 29px;
          letter-spacing: 0;
          text-transform: uppercase;
          text-align: start;
        }

        .description {
          background-repeat: no-repeat;
          height: 224px;
          width: 140px;

          &:not(:last-child) {
            margin: 0 10px 10px 0;
          }

          .text {
            display: block;
          }
        }

        .description1 {
          background-image: url('image/description1.jpg');
        }

        .description2 {
          background-image: url('image/description2.jpg');
        }

        .description3 {
          background-image: url('image/description3.jpg');
        }
      }
    }
  }
}
