.block {
  max-width: 140px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 768px) {
    max-width: 410px;
    margin-top: 15px;
  }

  .title {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }

  & > a {
    color: #fff;
  }

  .address {
    padding: 10px 0;
  }

  .phone {
  }

  .email {
  }
}
