@import "variables";

@mixin text( $titleFontFamily, $fontWeight, $fontSize, $textColor) {
  font-family: $titleFontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $textColor;
}

@mixin burgerElement($topValue) {
  content: '';
  position: absolute;
  background-color: #e8e8e8;
  width: 50px;
  height: 3px;
  left: 0;
  top: $topValue;
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}